/* Styling for the Header */
.header {
    position: fixed;  /* Fixes the header at the top */
    top: 0;           /* Aligns it to the top of the viewport */
    left: 0;
    width: 100vw;  /* Full viewport width */
    background-color: #C8102E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 60px;
    z-index: 3;

}

.branding {
    display: flex;
    align-items: center;
}

.brand-title {
    margin-left: 10px;
    color: black;
    font-size: 10px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: black;  /* Line color */
}
.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: black;  /* Line color */
}

.logo {
    height: 50px;               /* Adjust logo size */
    width: auto;                /* Maintain aspect ratio */
}