/* Styling for the Header */
.header {
    position: fixed;  /* Fixes the header at the top */
    top: 0;           /* Aligns it to the top of the viewport */
    left: 0;
    width: 100vw;  /* Full viewport width */
    background-color: #C8102E;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    height: 60px;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: black;  /* Line color */
}
.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: black;  /* Line color */
}
.logo {
    height: 50px;               /* Adjust logo size */
    width: auto;                /* Maintain aspect ratio */
}