.gallery {
 display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 80px 20px 80px;
    width: 100%;
    max-width: fit-content;
    max-height: min-content;
    margin: 0 auto;
    overflow: hidden;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    opacity: .5;
}

 .center-photo {
     flex-grow: 1.3;
     opacity: 1;
}

.photo-container img {
    width: 1200px;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 250px; /* might need to delete this */
    border-radius: 10px;
}
