.homePage {
    width: 100%;
    display: flex; /* Aligns children properly */
    flex-direction: column;
    justify-content: center; /* Centers content */
    max-width: 100vw;
    gap: 20px;
}

.about-cirt {
    border: 2px solid #C8102E;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}


.cirt-function {
    border: 2px solid #C8102E;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}
