.box {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3; /* Adjust this ratio to match desired rectangle shape */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #ccc;
    transition: box-shadow 0.2s;
}

.box-image {
    width: 100%;
    height: 100%;
}

.box-image img {
    width: 100%;
    height: 145%;
    object-fit: cover; /* Ensures image fills the container, cropping if needed */
    transition: filter 0.3s ease;
}

.box:hover .box-image img {
    filter: blur(4px);
}

.box-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: rgba(96, 96, 96, 0.49);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
}

.box:hover .box-content {
    opacity: 1;
}

/* Rest of your CSS remains unchanged */
.researchAssociates {
    padding: 100px;
    background-color: #fff;
}

.emailButton {
    color: #fff;
    margin-top: 1px;
}

.grid-researchAssociates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}

@media (max-width: 1024px) {
    .grid-researchAssociates {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-researchAssociates {
        grid-template-columns: repeat(1, 1fr);
    }
}