#root {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'univserse condense', sans-serif;
  background-color: white;  /* Default light mode */
}
/* read darkmode / lightmode for users preference (default light)
@media (prefers-color-scheme: dark) {
  #root {
    background-color: #121212;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  #root {
    background-color: #ffffff;
    color: black;
  }
}
*/
