@font-face {
  font-family: 'Univers Condensed';
  src: url('/public/Universe-Condensed-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  line-height: 1.5;
  background-color: #ffffff;  /* Default light mode */
  color-scheme: light dark;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
  margin-bottom: 10px
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
  text-align: left;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
  text-align: center;
}

p {
    text-align: left;
    width: 100%;
    margin-left: 0;
}

ol {
  margin: 1em;
  padding: 1em;
  text-align: left;
  list-style-type: decimal;
  width: 100%;
}



/* read darkmode / lightmode for users preference (default light
@media (prefers-color-scheme: dark) {
  #root {
    background-color: #121212;
    color: #FFFFF0;
  }
}
@media (prefers-color-scheme: light) {
  #root {
    background-color: #FFFFF0;
    color: #121212;
  }
}
*/


