body, html {
    margin: 0px;
    padding: 0px;
}

.LoginPage {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 80px;
    z-index: 0;

}

.LoginWrapper {
    background-color: rgb(236, 235, 230);
    border-radius: 32px;
    padding: 15px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: left;
    position: relative;
    margin-top: 0;
}

.LoginWrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.LoginWrapper form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    width: 100%;
}

.input-field input {
    width: 100%;
    padding: 15px;
    padding-right: 25px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}


.LoginWrapper input:focus {
    outline: none;
}

.LoginWrapper input:hover{
    border-color: #C8102E;
    transform: scale(1.01);
}

.submit-button button {
    background-color: #C8102E;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    align-items: flex-start;
}

.submit-button button:hover {
    background-color: #a10c27;
    transform: scale(1.03);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.forgotPassword {
    margin-top: 10px;
    text-align: left;

}
