.publications-wrapper {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
}

.upload-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 1000;
    background-color: white;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    border-radius: 20px;
}
.publisher-stuff {
    position: relative;
    margin-top: 80px;
}

.upload {
    position: absolute;
    top: 0;
    right: 2%;
}

.upload:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.upload-popup .exit-upload {
    position: absolute; /* Position relative to the nearest positioned ancestor (if any) */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
}
.upload-popup .h2 {
    text-align: center;
    margin: 0;
    width: 100%;
}

.input-container {
    background-color: rgb(236, 235, 230);
    flex: 0 0 calc(25% - 16px);
    border-radius: 30px;
    padding: 15px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: left;
    position: relative;
    margin-top: 0;
}

.input-container input {
    width: 100%;
    padding: 15px;
    padding-right: 25px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #C8102E;
    color: #444;
    cursor: pointer;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    max-width: 100%;
}

.drop-container:hover {
    background: rgba(0, 140, 255, 0.1);
    border-color: rgba(17, 17, 17, 0.6);
}

.drop-container p {
    color: #444;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    transition: color 0.2s ease-in-out;
}

.drop-container p:last-child {
    color: #C8102E;
}

.pubs-scroll-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
}

.publication-container {
    min-width: 250px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


